body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #202046;
  font-weight: 200;
  text-align: center;
}

.main-container {
  position: fixed;
  height: 100vh;
  background-image: url("../images/pattern-curve.svg");
  background-position: bottom 0px left 0px;
  background-size: 85%;
  background-repeat: no-repeat;
}

.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.slider .slider-image {
  width: 100%;
  height: 300px;
  background-image: url("../images/pattern-bg.svg");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.slider .slider-image .image {
  width: 257px;
  height: 255px;
  margin-top: 8%;
  border-radius: 12px;
  background-image: url("../images/image-tanya.jpg");
  background-size: cover;
}

.slider .slider-image .image-shadow {
  width: 200px;
  height: 255px;
  margin-top: 8%;
  -webkit-box-shadow: -5px 10px 40px #bfbfd7;
          box-shadow: -5px 10px 40px #bfbfd7;
  position: absolute;
  z-index: -1;
}

.slider .slider-image .slider-controller {
  width: 80px;
  height: 40px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  bottom: 0px;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -5px 10px 30px #bfbfd7;
          box-shadow: -5px 10px 30px #bfbfd7;
}

.slider .slider-image .slider-controller .arrow {
  width: 12px;
  height: 12px;
  background-size: 72%;
}

.slider .slider-image .slider-controller .left-arrow {
  background-image: url("../images/icon-prev.svg");
  background-repeat: no-repeat;
  background-position-x: left;
}

.slider .slider-image .slider-controller .right-arrow {
  background-image: url("../images/icon-next.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.slider .slider-text {
  width: 80%;
  margin-top: 35px;
  background-image: url("../images/pattern-quotes.svg");
  background-size: 20%;
  background-position: top center;
  background-repeat: no-repeat;
}

.slider .slider-text .testimonial-text {
  margin-top: 26px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  line-height: 140%;
}

.slider .slider-text .testimonial-name {
  font-weight: 700;
}

.slider .slider-text .testimonial-title {
  font-weight: 500;
  color: #babacf;
}
/*# sourceMappingURL=main.css.map */