$text-dark-blue: hsl(240, 38%, 20%);
$text-grayish-blue: hsl(240, 18%, 77%);
$slider-image-shadow: #bfbfd7;

$body-copy-size: 32px;
$font-family: 'Inter', sans-serif;

$desktop-viewport: 1440px;

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $font-family;
    color: $text-dark-blue;
    font-weight: 200;
    text-align: center;
}

.main-container{
    position: fixed;
    height: 100vh;

    background-image: url('../images/pattern-curve.svg');
    background-position: bottom 0px left 0px;
    background-size: 85%;
    background-repeat: no-repeat;
}

.slider{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    .slider-image{
        width: 100%;
        height: 300px;
        background-image: url("../images/pattern-bg.svg");
        background-size: 85%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        position: relative;

        .image{
            width: 257px;
            height: 255px;
            margin-top: 8%;
            border-radius: 12px;
            background-image: url("../images/image-tanya.jpg");
            background-size: cover;
        }
        .image-shadow{
            width: 200px;
            height: 255px;
            margin-top: 8%;
            box-shadow: -5px 10px 40px $slider-image-shadow;
            position: absolute;
            z-index: -1;
        }
        .slider-controller{
            width: 80px;
            height: 40px;
            background-color: #fff;
            border-radius: 30px;
            position: absolute;
            bottom: 0px;
            left: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            box-shadow: -5px 10px 30px $slider-image-shadow;

            .arrow{
                width: 12px;
                height: 12px;
                background-size: 72%;
            }
            .left-arrow{
                background-image: url("../images/icon-prev.svg");
                background-repeat: no-repeat;
                background-position-x: left;
            }
            .right-arrow{
                background-image: url("../images/icon-next.svg");
                background-repeat: no-repeat;
                background-position-x: right;
            }
        }
    }

    .slider-text{
        width: 80%;
        margin-top: 35px;
        background-image: url("../images/pattern-quotes.svg");
        background-size: 20%;
        background-position: top center;
        background-repeat: no-repeat;

        .testimonial-text{
            margin-top: 26px;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
            line-height: 140%;
        }
        .testimonial-name{
            font-weight: 700;
        }
        .testimonial-title{
            font-weight: 500;
            color: $text-grayish-blue;
        }
    }
}